python-dotenv
langchain
langchain-text-splitters
langchain-community
bs4
langchain-anthropic
langchain-openai
langchain-core
neo4j
fastapi
python-multipart
uvicorn
faiss-cpu
pypdf
openai
pandas
smolagents[litellm]
langgraph
langchain_openai
langchain-tavily
langchain-experimental
markdownify
openpyxl
crewai
crewai_tools
